<button id="helloWorldButton" class="btn btn-primary navbar-btn">Hello World!</button>

<script type="text/javascript">
    $(function() {
        $("#helloWorldButton").click(function() {
            window.location.href = "https://your-target-site.com" class="btn btn-primary navbar-btn" target="_blank"; // Redirects in the same tab
        });
    });
</script>